@import '../color.scss';

.container{
   
    border-radius: 10px;
    width: 700px;
    

    img{
        width: 100%;
        height: auto;
    }

    .buttonNavi{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .bannerContainer{
        position: relative;
        text-align: center;
        color: white;
        .banner{
            height: 30vh;
            width: 100%;
            object-fit: cover;
            object-position: 0 35%;
         }
         /* Centered text */
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 40px;
            font-weight: 900;
            transform: translate(-50%, -50%);
        }
    }
    .banner{
        height: 30vh;
        width: 100%;
        object-fit: cover;
        object-position: 0 35%;
     }
    
    .textArea{
        padding:10px;

        .banner{
            height: 30vh;
            width: 100%;
            object-fit: cover;
            object-position: 0 35%;
         }
        .player-wrapper {
            position: relative;
            padding-top: 56.25% ;/* Player ratio: 100 / (1280 / 720) */

            .react-player {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
          
        
    }

    
    
}

